
body, h1, h2, h3, ul, p{
    margin:0;
    padding:0;
}

#header{
    background-color: #35424a;
    border-bottom:5px solid coral;
}
#header h1{
    color:#fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:15px 0;
    display:inline-block;
}

    #header .logo{
    color:coral;
}

.navbar{
    float:right;
}

.navbar li{
    display:inline;
}
.navbar li a{
 text-decoration: none;
 color:#fff;
 font-family: sans-serif;
 padding:25px 15px;
 display: inline-block;
}

.navbar li a:hover{
    color:aqua;
    background: brown;
    transition: 0.4s;
    text-transform: uppercase;
}

.container{
    width:70%;
    margin: auto;
}
#banner{
    height: 60vh;
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 250;
    color:rgb(12, 9, 9);
    text-align: center ;
    font-family: 'Noto Serif', serif;
   border-bottom:5px solid coral ;

}

#banner h1{
    font-size:56px;
    margin-bottom: 25px;
    padding-top:150px;
}

.text-banner{
    float:center;
  
}
#banner .continer .btn{
    border:none;
    background: blue;
    color:aqua;
    font-size: 25px;
    padding:8px 15px;
}
#banner .continer .btn:hover{
    background: yellow;
    color:black;
    text-transform:uppercase;
    transition: 0.8s;
    box-shadow: 0px 0px 6px 14px black;
    
}
#newsletter{
    background: #35424a;
    color:#fff;
    font-family: sans-serif;
    padding:20px 0;
    display: inline-block;
    width: 100%;
}



#newsletter .left{
    float:left;
    margin:0px 50px;
}
.left h3{
    font-size: 28px;
}

#newsletter .right{
    float: right;
    margin-right:120px;
    display:inline-block;
}

#newsletter input[type=text]{
    padding:8px 15px;
    font-weight: 700;
    font-style: italic;
}

#newsletter .button{
    padding:9px 15px;
    border:none;
    width:120px;
    font-style: italic;
    font-weight: 800;
    background: coral;
    margin-left:15px;
}
/* bulimalar */
#bulimlar{
    display:block;
    margin:0;
    padding: 0;
    min-width: 1200px;
    background: #fff;
    color:black;
    
}
#bulimlar .container{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}

#bulimlar .container .inleni-continer{
    display: inline-block;
    width:100%;
    margin:0;
    padding:0;
}
#bulimlar .container .inleni-continer .card{
     display: inline-block;
    width:22%;
    margin:20px;
    padding:10px 40px;
    box-sizing: border-box;
    justify-content:center;
}
#bulimlar .container .inleni-continer .card h1{
    line-height: 40px;
    color:red;
}
#bulimlar .container .inleni-continer .card p{
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
}