
body, h1, h2, h3, ul, p{
    margin:0;
    padding:0;
}

#header{
    background-color: #35424a;
    border-bottom:5px solid aqua;
}
#header h1{
    color:#fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:15px 0;
    display:inline-block;
}

    #header .logo{
    color:coral;
}

.navbar{
    float:right;
}

.navbar li{
    display:inline;
}
.navbar li a{
 text-decoration: none;
 color:#fff;
 font-family: sans-serif;
 padding:25px 15px;
 display: inline-block;
}

.navbar li a:hover{
    color:aqua;
    background: brown;
    transition: 0.4s;
    text-transform: uppercase;
}

.container{
    width:70%;
    margin: auto;
}
#banner{
    height: 60vh;
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 250;
    color:rgb(12, 9, 9);
    text-align: center ;
    font-family: 'Noto Serif', serif;

}

#banner h1{
    font-size:56px;
    margin-bottom: 25px;
    padding-top:150px;
}
